<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>はてぶエントリ</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
<%= form_tag('search') do %>
  <h1>URLを入力してください。</h1>
  <p>その記事のブックマーク情報が表示されます。</p>
  <%= search_field_tag(:url, value=@url, options={:size => 150}) %>
  <br>
  <%= submit_tag(value = "submit") %>
<% end %>
  <br />
  <%= @alert %>
<% if @users.length > 1 %>
  <h3><span class='label'>タイトル：</span><span class='content'><%= @title %></span></h3>
  <h3><span class='label'>本家人気コメントURL：</span><span class='content'><%= link_to(@entry_url, @entry_url) %></span>←見やすい!</h3>
  <h3><span class='label'>このページをブックマークした人(公開アカウント数)：</span><span class='content'><%= @users.length %>人</span></h3>
<h3><span class='label'>はてなスター数：</span>
<img src="<%= asset_path "http://s.st-hatena.com/entry.count.image?uri="+@url %>" />
個</h3>
  
  <table width="80%">
    <tr>
      <th>No.</th>
      <th>ユーザー</th>
      <th>タグ</th>
      <th>コメント</th>
      <th>タイムスタンプ</th>
    </tr>
  <% @users.each_with_index do |user, i| -%>
    <tr>
      <td width="2%"><%= i+1 %></td>
      <td width="7%"><%= link_to @users[i], 'http://b.hatena.ne.jp/'+@users[i]+'/bookmark' %></td>
      <td width="20%"><%= @tags[i] %></td>
      <td width="25%"><%= @comments[i] %></td>
      <td width="3%"><%= @timestamps[i] %></td>
    </tr>
  <% end %>
  </table>
<% end %>
</body>
</html>